asgiref==3.2.10
bootstrap4==0.1.0
Django==3.1.1
django-cors-headers==3.1.1
djangorestframework==3.11.1
node==0.9.25
odict==1.7.0
Pillow==7.2.0
plumber==1.6
psycopg2==2.8.6
pytz==2020.1
sqlparse==0.3.1
zope.component==4.6.2
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.0.1
zope.interface==5.1.2
zope.lifecycleevent==4.3
zope.proxy==4.3.5
